nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 72px;
  /* background-color: red; */
  padding: 0 20px;
}
.logo img {
  width: 100px;
  height: 100px;
}

img {
  width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  color: black;
}
